# Session 1 - Strings

### What is String?

Sequence of characters, enclosed in single, double or triple quotes

### String Creation/Syntax

In [ ]:
str1 = 'Hi'
str2 = "Bye"

In [ ]:
str3 = """
Hello everyone!
This is Python Session 1 :)
"""
print(str3)

In [ ]:
test = '''
what if, I change
    indentation?
  how will the output
          look like?
'''
print(test)

##### Do we have 'char' data type in Python

In [ ]:
a = 'A'
print(type(a))

In [ ]:
# what if we use quotes inside quotes?

check = 'Hey 'Shree' how are you?'
print(check)

In [ ]:
# how to resolve?

#method 1:
# check = "Hey 'Shree' how are you?"
# print(check)

#method 2:
check = 'Hey \'Shree\' how are you?'
print(check)

# String Operations:

### 1. Concatenation

In [ ]:
str1 = 'oh'
str2 = 'so'
str3 = 'cute!'
final_str = str1 + str2 + str3
print(final_str)

In [ ]:
str4 = '100'
final_str = str1 + str2 + str3 + str4
print(final_str)

### 2. Repetition

In [ ]:
s = "he"
repeated = s * 5
print(repeated)

### 3. Indexing

 Accessing individual characters in a string

In [ ]:
s = "hello"
print(s[1]) # positive indexing
print(s[-4]) # negative indexing

### 4. Slicing

 Accessing range of characters in a string (substring)

In [ ]:
s = "python"
s[2:4]

In [ ]:
s[:5]

In [ ]:
s[-4:2]

In [ ]:
s[-3:]
s[::-1]

In [ ]:
ques = "hello, World!"
# ques[-6:-2:-1]
ques[-2:-6:-1]

In [ ]:
ques[1:6:2]

In [ ]:
s="Hello World!"
s[-4:-0:-1]

### 5. Updating/Deleting

In [ ]:
a = "Hey"
del a[0]
print(a)

In [ ]:
a = "Hey"
del a
print(a)

In [ ]:
a = "try updating"
a[2] = 'i'
print(a)

In [ ]:
#updating chars using slicing

a = "Hi Rohit"
updated_a = a[:3] + 'M' + a[4:]
print(updated_a)

In [ ]:
#updating chars using list

a = "Hi Rohit"
list_a = list(a)
list_a[3] = 'M'
updated_a = ''.join(list_a)
print(updated_a)

In [ ]:
# deleting chars using slicing

a = "Hi Rohit"
deleted_h = a[:5] + a[6:]
display(deleted_h)

# String Methods:

In [ ]:
# uppercase

a = "cool"
a.upper()

In [ ]:
# lowercase

a = "No Problem"
a.lower()

In [ ]:
# splitting string into list of substrings

#string.split(separator, maxsplit)

s = "This, is test case string"
# s.split() 
# s.split(',')
s.split(' ', 2)

In [ ]:
s = "This is another       case string"
s.split()

In [ ]:
# joining items in an iterable into 1 string

# string_separator.join(iterable)

list1 = ["Earth", "is", "green"]
str1 = ' '.join(list1)
print(str1)

In [ ]:
list1 = ["Benguluru", "is", "cool"]
str1 = '-'.join(list1)
print(str1)

In [ ]:
# striping spaces

a = "  Hey    Guys   "

# a.lstrip()
# a.rstrip()
a.strip()

In [ ]:
# how to remove all extra spaces in between Hey and Guys, 
# except for a single space?

a = "  Hey    Guys   " #Hey Guys

In [ ]:
# replace occurences of a substring with another substring

# string.replace(old,new,count)

s = "No Way!"
s.replace("No", "Yes")

In [ ]:
s = "No Way!"
s.replace("no", "Yes")

In [ ]:
s = "I like purple, purple is best."
# s.replace("purple", "yellow")
s.replace("purple", "yellow", 1)
# s.replace("purple", "yellow", 6)

In [ ]:
# searching position of a substring in a string

# string.find(substring, start_index, end_index) -> returns index no.

x = "Hello guys, welcome home"
# x.find('o')
# x.find('o', 6, 25)
x.find('o', 17, 100)
# x.find('x')

In [ ]:
# question:

a = 'abracadabra'
a.find('ra')

In [ ]:
# checking if string startswith or endswith a substring

a = "Good People"
# a.startswith("Good")
# a.startswith("Go")

a.endswith("People")
# a.endswith("e")

In [ ]:
a = "US East Region"
# Ques any other way to find out whether 'a' starts with 'US'

In [ ]:
# count of a substring in a string

# string.count(substring, start_index, end_index)

x = "Hello guys, welcome home"
# x.count('o')
x.count('o', 7, 100)

In [ ]:
x = 'tom jerry'
x.count('r', 1, 7)

# String Formatting:

Allows to create dynamic string by combining variables and values

#### 1. Using the % Operator (format specifiers)

In [ ]:
name = "Jaan"
age = 24
score = 87.79
formatted_string = "My name is %s and I am %d years old. I got %f percentage in my board results." % (name, age, score)
print(formatted_string)

In [ ]:
ques1 = "My name is %s and I am %s years old." % (name, age)
print(ques1)

# What will be the output of this code?

# A) My name is Jaan and I am %s years old.
# B) My name is Jaan and I am 24 years old.
# C) It will raise a TypeError

In [ ]:
ques2 = "My name is %d and I am %d years old." % (name, age)
print(ques2)

# What will be the output of this code?

# A) My name is %d and I am 30 years old.
# B) My name is Jaan and I am 30 years old.
# C) It will raise a TypeError

In [ ]:
loc = "Bengaluru"
ques3 = "My name is %s and I am %d years old." % (name, age, loc)
print(ques3)

In [ ]:
ques4 = "My name is %s and I am %d years old." % (age)
print(ques4)

In [ ]:
value = 123.456
formatted_string = "The value is %.2f" % value
print(formatted_string)

# What will be the output of this code?

# A) The value is 123.45
# B) The value is 123.456
# C) The value is %.2f
# D) The value is 123.46

In [ ]:
s = "Value: %d %s" % (42, 100)
print(s)

In [ ]:
values = (42, "Python", 3.14)
formatted_string = "Integer: %d, String: %s, Float: %d" % values
print(formatted_string)

# What will happen when you run this code?

# A) It will print "Integer: 42, String: Python, Float: 3.14"
# B) It will raise a TypeError
# C) It will print "Integer: 42, String: Python, Float: 3"

####  2. Using the str.format() Method

In [ ]:
name = "Jaan"
age = 30
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

In [ ]:
formatted_string = "My name is {0} and I am {1} years old. {0} is learning Python.".format(name, age)
print(formatted_string)

In [ ]:
formatted_string = "{x} is {y} years old. {x} is good in Python.".format(x = name, y = age)
print(formatted_string)

In [ ]:
q1 = "My name is {} and I am {} years old.".format(name)
print(q1)

In [ ]:
q2 = "The values are {0} and {1}".format(3, 5, 7)
print(q2)

In [ ]:
q3 = "{3} {0} {1}".format('the', 'sign', 'read')
print(q3)

#### 3.Using f-Strings (Formatted String Literals)

In [ ]:
name = "Jaan"
age = 30
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

In [ ]:
formatted_string = f"In 5 years, I will be {age + 5} years old."
print(formatted_string)

In [ ]:
q1 = f"My name is {name.upper()} and I am {age} years old."
print(q1)

In [ ]:
a = 5
b = 10
q2 = f"The value of a is {a} and the value of b is {b}. The product is {a * b}."
print(q2)

### Escape Characters

Used to represent special characters within strings that would otherwise be difficult to include directly

In [ ]:
#Single Quote (\'):

print('It\'s a nice day')

In [ ]:
#Double Quote (\"):

print("He said, \"Hello World!\"")

In [ ]:
#Backslash (\\):

print("This is a backslash: \\")

In [ ]:
#Newline (\n):

print("Hello\nWorld")

In [ ]:
#Tab (\t):

print("Name:\tJohn Doe")

In [ ]:
print("C:\\Users\\Desktop\\my_file.txt")

#### Length of a string:

In [ ]:
str1 = "One life"
print(len(str1))

In [ ]:
#Question 1 : 

a = "Hey\nBen"
print(a)
print(len(a))

In [ ]:
#Question 2:

a = "Hey\nBen"
print(a[:])
a[:]

# Session 2 : Control Flow Statements

#### Comparison Operators:

Used to compare values and returns Boolean result

In [ ]:
a = 10
b = 20

a == b
a != b
a < b
a > b
a <= b
a >= b

#### Logical Operators:

Used to combine multiple conditions

In [ ]:
# and

nationality = "Indian"
age = 17

if nationality == "Indian" and age >= 18:
    print("can vote.")

In [ ]:
# or

weekday = "Sat"

if weekday == "Sat" or weekday == "Sun":
    print("It's weekend.")

In [ ]:
# not
n = 3
res=not n
print(res)

#### Condition Statements : if, else, elif
#### Looping Statements: while, for
#### Other Statements: break, continue, pass, return

## Conditional Statements

### 1. if

In [ ]:
if condition:
    # Statements to execute if
    # condition is true

In [ ]:
i = int(input("Enter a number:"))
if i > 50:
    print("inside if: i is greater than 50")
print("Outside if block: statement to be continued.")

### 2. if-else

In [ ]:
if (condition):
    # Executes this block if
    # condition is true
else:
    # Executes this block if
    # condition is false

In [ ]:
i = 30
if i > 50:
    print("inside if: i is greater than 50")
else:
    print("inside else: i is lesser than 50")
print("Outside if-else block: statement to be continued.")

### 3. nested if

In [ ]:
nationality = "Indian"
age = 20

if age>=18:
    if nationality == "Indian":
        print("Get ready to rock the polls")
    else:
        print("Not Indian? No voting for you.")
else:
    print("You’re still too young!")

### 4. elif

In [ ]:
weather = "sunny"  # This could be "sunny", "cloudy", or "rainy"

if weather == "rainy":
    print("Better grab an umbrella or wear a raincoat!")
elif weather == "cloudy":
    print("A light jacket would be perfect for this weather.")
else:
    print("Wear your sunglasses and a light shirt!")

#### short hand if

if condition: statement

In [ ]:
i = 10
if i<100: print("i is less than 100")

#### ternary statement/ short hand if else

true_statement if condition else false_statement

In [ ]:
x = 10
y = 20
max_var = x if x>y else y
print(max_var)

In [ ]:
# Question 1:

x = 0
if x:
    print("True")
else:
    print("False")

In [ ]:
#Question 2:

n = 10

if n < 20:
    print("Less than 20")
elif n < 30:
    print("Less than 30")
elif n < 40:
    print("Less than 40")
else:
    print("40 or more")

In [ ]:
# Question 3:

value = "42"

if value == 42:
    print("Value printed out",value)

In [ ]:
# Question 4:

a = True
b = True
c = False

if a or b and c:
    print("True")
else:
    print("False")

### Order of Precedence

1. `()`
2. `**`
3. `+` `-` (Unary positive/negative)
4. `*` `/` `%` `//`
5. `+` `-`
6. `==` `!=` `<` `>` `<=` `>=`
7. `not`
8. `and`
9. `or`

In [ ]:
# ques1:

x = 5
y = 3
z = True
print(x * (y+z))

In [ ]:
# ques2:

x = True
y = False
z = not x and y or x
print(z)

In [ ]:
# ques3:

x = 10
y = 5
z = 3
print(x > y > z)

In [ ]:
# ques4:

x = 5
y = 2
z = x ** y + x // y - x % y
print(z)

In [ ]:
# ques5:

result = -3 ** 2 + (5 - 2) * 4
print(result)

### Loops in Python

#### What is a loop?

#### Execution of a loop

1.Indexing Variable

In [ ]:
var=0

2.Condition

In [ ]:
var<10

3.Body

In [ ]:
print(var) #statements

4.Increment/decrement

In [ ]:
var+=1

### While Loop

In [ ]:
#executes the set of statements as long as a condition is true.

i = 1            #Indexing variable
while i < 6:     #condition
  print(i)       #statement
  i += 1         #increment

In [ ]:
n = 0     
while n < 10:     
  print(n)

Note: remember to increment i, or else the loop will continue forever (infinite loop)

#### Break Statement

In [ ]:
x = 1
while x < 6:
  print(x)
  if x == 3:
    break    #goes out of the current loop
  x += 1
print("Loop Terminated")

#### Continue Statement

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue     #stop the current iteration, and continues with the next
  print(i,end=' ')

In [ ]:
i = 0
while i < 6:

#### Pass statement

In [ ]:
i = 0
while i < 6:
    pass    #used as a placeholder for future use

In [2]:
i = 8
while i < 6:
  print(i)
  i += 1
else:       #statement runs when the condition no longer is true:
  print("i is no longer less than 6")

i is no longer less than 6

Write a code to print odd numbers upto 10

### For Loop

In [1]:
pets = ("dog", "cat", "rabbit")  
for x in pets:     #Used for iterating over a sequence
  print(x)

dog
cat
rabbit

In [3]:
for x in "MuSigma": #iterating a Sting
  print(x)

M
u
S
i
g
m
a

In [4]:
l=[1,2,3,4,5]
for i in l:
    print(i)
    if i==3:
        break

1
2
3

#### Range Function

In [ ]:
# range(start,end,increment)

# by default start is 0
# iteration will be upto end 
# by default increment is 1

In [5]:
#used to iterate the set of code for specified number of times
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for x in range(3,11): #range function with start and stop
  print(x)

3
4
5
6
7
8
9
10

In [7]:
for x in range(2, 30, 5): #range function with start, stop and increment
  print(x)

2
7
12
17
22
27

In [8]:
string="PySpark"
for i in range(len(string)):  #Acessing Sequence using range function
    print(string[i],end=" ")

P y S p a r k

#### Nested Loops

In [9]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

#"inner loop" will be executed one time for each iteration of the "outer loop"
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### Questions on for- while :

In [10]:
x = 0 
while x < 3:
    y=0
    while y < 3: 
        if(x==1):
            break
        print(x,y)
        y+=1
    print("Outer Loop")
    x+=1

0 0
0 1
0 2
Outer Loop
Outer Loop
2 0
2 1
2 2
Outer Loop

In [11]:
for i in range(3):
    for j in range(3):
        if i == j:
            break
        print(f"i={i}, j={j}")
    print("End of inner loop")

End of inner loop
i=1, j=0
End of inner loop
i=2, j=0
i=2, j=1
End of inner loop

In [12]:
n = 0
while n < 3:
    n += 1
    print(n)
    if n == 2:
        break
else:
    print("Loop ended naturally")

1
2

In [13]:
for i in range(3):
    if i == 1:
        pass
        print("Inside pass block")
    print(i)

0
Inside pass block
1
2

In [ ]:
count = 0
while True:
    count += 1
    if count == 5:
        break
    print(count)

In [ ]:
for i in range(6):
    if i % 2 == 0:
        continue
    print(i, end=" ")

In [ ]:
for i in range(3):
    for j in range(3):
        if i == j:
            continue
        if i + j == 2:
            continue
        print(f"i={i}, j={j}")

In [ ]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        break
else:
    print("Exited naturally")
print("Loop finished with x =", x)