# Here We Go!

In [ ]:
print("Hello World")
print("Python")

# Indentation

In [ ]:
# default no. of spaces - 4. If used <4 or >4 which there be error?
if 1==1:
 print("1")
  
# if True:
#         print("True")

In [ ]:
# if different spaces used within same block
if True:
 print("condition")
 print("is")
 print("true")

# Statements & Expressions

In [ ]:
#which of these are statements and which are expressions
x = 5
y = x + (x*2)
z = (x>10)
print(z)

In [ ]:
5+3

# Variables

In [ ]:
var1=12

In [ ]:
Variable='PyPy'

In [ ]:
0var=0

In [ ]:
_var_='_var_'

In [ ]:
!var="Special"

In [ ]:
for = "for" #keywords used as variable name
print(for)

In [ ]:
x = 10
y = x
x = 20
print(x)
print(y)
y = "hi"

In [ ]:
print(y)

In [ ]:
a,b,c=1,2,3

In [ ]:
a=b=c=10

In [ ]:
#how to swap values of 2 variables with a temp var?
x = 5
y = 10
temp = x
x = y
y = temp
print(x)
print(y)

In [ ]:
#how to swap values of 2 variables with.out a temp var?
x = 5
y = 10
x,y = y,x
print(x)
print(y)

In [ ]:
#global, local variables

n = 2
def func1():
    r = 10 #what will be output if we remove this
print(r)

In [ ]:
n = 10
def f():
    global n #what will be output if we remove this
    n = n + 10
    print(n)
print(n)
f()

# Comments

Single Line Comment

In [ ]:
print("Hi, My Name is Alwin") #Prints Name

Multi Line Comment

In [ ]:
"""
This is a multiline comment
using triple-quoted strings.
It spans multiple lines
"""
print("Hi, I am Debtanu Nandi. This is the first time I am coding in Python")
"""
This is a multiline comment
using triple-quoted strings.
It spans multiple lines
"""

# Data Types

### Primitive Data Type

Numeric Data Types

In [ ]:
num1 = 1         
num2 = 10.023  
num3 = 10+3j

In [8]:
a = 'str'
b = int(a)
print(b)

ValueError: invalid literal for int() with base 10: 'str'

In [ ]:
a = 0.1
b = 0.2
c = a+b
print(c)

In [ ]:
# how to resolve using Decimal
from decimal import Decimal
a = Decimal('0.1')
b = Decimal('0.2')
c = a+b
print(c)

In [9]:
# how to round floats

val = 2.675900
rounded_val = round(val, 2) # rounds to 2 decimal places
print(rounded_val)

2.68

String Data Types

In [ ]:
str = 'Hello World!'

Bool

In [10]:
a=True

NoneType

In [ ]:
b=None

### Non-Primitive

Sequence Data Types

In [ ]:
#List
list1=[1,2,'apple',[2,3,4]]

In [ ]:
#tuple
tuple1=(1,2,3,4,5,6,7,[2,3,4])

Dictionary

In [ ]:
dict1={"Name":"Anjali","Age":24}

Set

In [11]:
set1={7,1,2,3,4,5,6,6,7,9,8,9}

In [12]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Type Casting

# Operators

Arithematic Operators

In [13]:
5+6

11

In [14]:
5-5

0

In [15]:
10/2 # returns a float value

5.0

In [16]:
16//3 #rounds the result down to the smallest integer

5

In [17]:
-13//3

-5

In [18]:
7%3

1

In [19]:
-8%3

1

In [20]:
5**3

125

In [21]:
64**0.5

8.0

Comparison Operators

In [22]:
5<4

False

In [23]:
5>4

True

In [24]:
10==10

True

In [27]:
None == None

True

In [26]:
0 == False

True

Assignment Operators

In [28]:
a=10
a-=1 #a=a-1

print(a)

9

In [29]:
a=10
a= +1 #a=a+1
print(a)

1

In [30]:
a = 125
b = 13
a//=b #a=a//b
print(a)

9

Logical Operators

In [31]:
a= True
b= False
print(a and b)

False

In [32]:
marks=56
marks>50 and marks<55

False

In [33]:
marks>50 or marks<60

True

In [34]:
raining =True
not raining

False

In [35]:
a,b = 2,1
c= a < b #2<1 --false
d = (a>b) and (c<b) #t and t --t  
print(c,d)

False True

### Taking User Input

In [36]:
inp=input("Enter your name:") #by default the input type is string

Enter your name:Riya

In [37]:
age = input() 
age_after_10_years = age + 10
print(age_after_10_years)

10

TypeError: can only concatenate str (not "int") to str

In [38]:
age = int(input())
age_after_10_years = age + 10
print(age_after_10_years)

10
20

In [39]:
print("python","is","good") #1 space is default separator

#add explicit separator
print("hi","there",sep="-")

python is good
hi-there